terraform {
  backend "s3" {
    bucket       = "envops-terraform-state-alaa-magdy-2026" // add your s3 bucket name here 
    key          = "env/terraform_state-file"
    region       = "us-east-1"
    use_lockfile = true
    encrypt      = true
  }

}